.wrapper {
    display: flex;
    flex-direction: column;
}

.name {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.wrapper_content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    width: 260px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 6px;
    max-height: 260px;
}

.item {
    padding: 5px 10px;
    overflow-y: auto;
}
