.pill_nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 4px;
}

.pill_nav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: dodgerblue;
    color: white;
}
