.modal_form_wrapper {
  position: absolute;
  z-index: 1;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header_list {
  display: flex;
  align-items: center;
}

.header_item {
  padding: 10px;
}

.order_status {
  font-weight: bold;
  font-size: 18px;
  border-radius: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: whitesmoke;
  color: rgb(78, 117, 189);
}
