.modal_form_wrapper {
    position: absolute;
    z-index: 1;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
}