.page {
  margin: 10px;
}

.page_header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.article_list {
  display: flex;
  flex-direction: column;
}

.article_modal {
  padding: 15px;
}

.modal_form_wrapper {
  position: absolute;
  z-index: 1;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_trash_wrapper {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: whitesmoke;
  border-radius: 8px;
  padding: 10px;
}
