.page {
    margin: 10px;
}

.page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article_list {
    display: flex;
    flex-direction: column;
}

.article_modal {
    padding: 15px;
}

.modal_form_wrapper {
    position: absolute;
    z-index: 1;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
