.item {
  padding-left: 5px;
  padding-right: 5px;
  margin: 1px;
  border: 1px solid #fef;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #c16ecf;
}

.item:hover {
  color: #fef;
  background: #2376ae;
}

.item_element {
  flex-grow: 1;
  flex-basis: 0;
}

.menu {
  color: #c16ecf;
}

.menu_item {
  cursor: pointer;
  padding: 10px 20px;
}

.menu_item:hover {
  color: #fef;
  background: #2376ae;
}

.modal_form_wrapper {
  position: absolute;
  z-index: 1;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_trash_wrapper {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: whitesmoke;
  border-radius: 8px;
  padding: 10px;
}
