.wrapper {
    text-align: center;
}

.form_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form {
    border: 1px solid whitesmoke;
    border-radius: 16px;
    display: flex;
    align-items: center;
    align-content: center;
}

@media only screen and (max-width: 600px) {
    .form {
        flex-direction: column;
    }
}
