.page {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
  
    &__numbers,
    &__btn,
    &__dots {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      font-size: 1.2rem;
      cursor: pointer;
    }

    &__link {
      width: 2rem;
    }
  
    &__dots {
      width: 1.4rem;
      height: 2rem;
      color: var(--greyLight);
      cursor: initial;
    }
  
    &__numbers {
      width: 2rem;
      height: 2rem;
      border-radius: 0.4rem;
      text-align: center;
  
      &:hover {
        color: var(--primary);
      }
  
      &.active {
        color: #ffffff;
        background: var(--primary);
        font-weight: 600;
        border: 1px solid var(--primary);
      }
    }
  
    &__btn {
      color: var(--greyLight);
  
      &.active {
        color: var(--greyDark);
  
        &:hover {
          color: var(--primary);
        }
      }
    }
  }

  .disabled {
    color: lightgrey;
    cursor: not-allowed;
  }
